:root {
    --primary-color: #8836BF;
--secondary-color: #934EA6;
--tertiary-color: #C599F2;
--quaternary-color: #561AD9;
--quinary-color: #F1C2F2;
--light-color: #ffe8b6;;
--medium-color: #918262;
--dark-color: #000000;

}

.bg-custom {
    background: var(--primary-color);
    background: linear-gradient(90deg, var(--secondary-color) 0%, var(--primary-color) 27%, var(--quaternary-color) 56%, var(--quaternary-color) 81%, var(--quaternary-color) 100%);
}

.navbar-brand,
.nav-link {
    color: white;

}
